extends base/base

block content
    form(action="/account" method="get")
        div
            label Username
            input(type="text")
        div
            label Password
            input(type="password")
        button(type="submit") Log In