doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Index
        block scripts
            include scripts
        block style
            include style
    body
        block header
            include header
        block content
            include content
        block footer
            include footer