.header-links
  display: flex
  justify-content: center
  align-content: space-between
  vertical-align: middle
  background-color: #333
  a
    padding: 15px 30px
    color: white
    &:hover
      background-color: #00ADAD